.dropProfile{
    position: absolute;
    top: 4rem;
    right: 1rem;
    width: 100px;
    padding: 12px;
    border: 1px solid black;
    border-radius: 12px;
    background-color: #fff;

}
.dropProfile::before{
    content: '';
    position: absolute;
    top: -0.7rem;
    right: 1.2rem;
    width: 20px;
    height: 20px;
    transform: rotate(45deg);
    border-left: 1px solid black;
    border-top: 1px solid black;
    background-color: #fff;
}
